@import 'node_modules/font-awesome/css/font-awesome.css';

* {
  box-sizing: border-box;
  outline: none;
  font-family: 'DM Sans', sans-serif; /* Set the font for all elements */
  font-weight: bold;
}

:root {
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #009e90;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
}

/* html {
  background-color: blue;
} */

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to bottom, #8620ca, #340243);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  position: relative;

  /* Fog Styles */
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                  radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
      background-position: 0 0, 25px 25px;
      background-size: 50px 50px;
      animation: fogAnimation 10s linear infinite;
      pointer-events: none; /* Allow mouse events to pass through */
  }
}

@keyframes fogAnimation {
  0% {
      background-position: 0 0, 25px 25px;
  }

  100% {
      background-position: 50px 50px, 75px 75px;
  }
}


/* body {
  font-weight: bold;
  margin: 0;
  display: flex;
  background-image: url('src\assets\bgm2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 12px;
  color: whitesmoke;
  background-blend-mode: overlay, multiply, color, normal;
  padding: 0;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/bgm2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; 
  z-index: -1; 
} */

ul {
  font-weight: bold;
  list-style-type: none;
  padding: 0;
}

button {
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

html, body {
  font-weight: bold;
  height: 100%;
  margin: 0;
}

.task-manager {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-size: cover; 
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.left-bar {
  font-weight: bold;
  background-color: var(--bg-color);
  width: 230px;
  border-right: 1px solid #e3e7f7;
  position: relative;
}

.left-content {
  font-weight: bold;
  padding: 40px;
  color: whitesmoke;
}

.item {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.item:hover {
  color: black;
  font-weight: bold;
  background-color: #f0f0f0;
}

.item a {
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  margin-left: 10px;
}
.item a:hover {
  color: black;
  font-weight: bold;
  background-color: #f0f0f0;
}

.category-list {
  font-weight: bold;
  margin-top: 50px;
}

.category-list .item {
  font-weight: bold;
  color: var(--secondary-color);
}

.action-list {
  font-weight: bold;
  list-style: none;
  padding: 0;
}


.actions {
  font-weight: bold;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.circle {
  font-weight: bold;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #fe4d46;
  box-shadow: 14px 0 0 0 #fbc023, 28px 0 0 0 #7dd21f;
}

.circle-2 {
  font-weight: bold;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #d5d7e3;
  box-shadow: -6px 0 0 0 #d5d7e3, 6px 0 0 0 #d5d7e3;
}

.top-part {
  font-weight: bold;
  padding: 30px;
  align-self: flex-end;

  svg {
    font-weight: bold;
    width: 14px;
    height: 14px;
    color: var(--main-color);
    margin-right: 14px;
  }

  .count {
    font-weight: bold;
    font-size: 12px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #623ce8;
    color: #fff;
    display: flex;
    justify-content: center;
  }
}

.right-content {
  font-weight: bold;
  padding: 10px 40px;
  overflow-y: auto;
  flex: 1;
}

.task-box {
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);

  &:hover {
    font-weight: bold;
    transform: scale(1.02);
  }
}

.time {
  font-weight: bold;
  margin-bottom: 6px;
  /* opacity: 0.4; */
  font-size: 10px;
}

.task-name {
  font-weight: bold;
  font-size: 14px;
  font-weight: 500;
  /* opacity: 0.6; */
}

.yellow {
  background-color: var(--box-color);
}

.blue {
  background-color: var(--box-color-2);
}

.red {
  background-color: var(--box-color-3);
}

.green {
  background-color: var(--box-color-4);
}

.button-container {
  position: relative;
  display: inline-block;
}

.more-button {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e92a4;
  box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
  /* opacity: 0.4; */
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  background-color: #ffffff;
  border: 1px solid #8e92a4;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.options button {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 0;
}

.options button:hover {
  background-color: #f0f0f0;
}

.members {
  font-weight: bold;
  display: flex;
  margin-top: 14px;

  img {
    border-radius: 10%;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    object-fit: cover;
  }
}

.members img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  object-fit: cover;
}

.page-content {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;

  .header {
    font-weight: bold;
    font-size: 28px;
    color: var(--main-color);
    margin-top: 30px;
  }
}

.content-categories {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.nav-item {
  font-weight: bold;
  display: none;
}

.category {
  font-weight: bold;
  font-weight: 500;
  color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
  transition: 0.4s ease-in;
  padding: 20px 30px;
  cursor: pointer;
}

#opt-1:checked + label,
#opt-2:checked + label,
#opt-3:checked + label,
#opt-4:checked + label {
  color: var(--checkbox-color);
  border-bottom: 2px solid var(--checkbox-color);
}

.task-item {
  font-weight: bold;
  display: none;
}

.tasks-wrapper {
  font-weight: bold;
  padding: 30px 0;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding-right: 8px;
}

.task {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
  color: var(--task-color);
  font-size: 13px;
  font-weight: 500;

  &:hover {
    transform: translateX(2px);
  }

  label {
    cursor: pointer;
  }
}

label .label-text {
  position: relative;
}
  .label-text li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .task-name {
    font-size: 17px;
    margin-right: 50px;
  }

  .task-status {
    font-size: 15px;
  }

  label .label-text:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    left: -24px;
    transition: 0.2s ease;
  }

  .task-item:checked + label .label-text:before {
    background-color: var(--checkbox-color);
    border: none;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E"); */
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    border: 1px solid var(--checkbox-color);
  }

  .tag {
    font-weight: bold;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 20px;

    &.approved {
      background-color: var(--tag-color-one);
      color: var(--tag-color-text-one);
    }

    &.progress {
      background-color: var(--tag-color-two);
      color: var(--tag-color-text-two);
    }

    &.review {
      background-color: var(--tag-color-three);
      color: var(--tag-color-text-three);
    }

    &.waiting {
      background-color: var(--tag-color-four);
      color: var(--tag-color-text-four);
    }
  }

  .upcoming {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 900px) {
    .left-bar {
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    .task-manager {
      flex-direction: column;
      overflow-y: auto;
    }

    .right-bar,
    .page-content {
      width: 100%;
      display: block;
    }

    .tasks-wrapper {
      height: auto;
    }
  }

  @media screen and (max-width: 520px) {
    .page-content {
      padding: 40px 10px 0 10px;
    }

    .right-content {
      padding: 10px 16px;
    }

    .category {
      padding: 20px;
    }
  }

  .members {
    font-weight: bold;
    width: 40px;
    height: 40px;
  }

  .task-create-button {
    background-color: #010c19;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #340243;
}


  /* Style for the tab buttons */
  .button-container {
    font-weight: bold;
    display: flex;
  }

  .button-container button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .button-container button.active {
    font-weight: bold;
    background-color: #0056b3;
  }

  /* Style for the task form */
  .task-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .task-form input {
    font-weight: bold;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
  }

  /* Style for the task list */
  .task-list {
    margin-top: 20px;
  }

  .tabs {
    display: flex;
    /* flex: 1; Use flex-grow to make the tabs cover the remaining space */
  }
  
  /* Additional styling for individual tabs */
  .tabs button {
    flex: 1; /* Distribute available space evenly among tabs */
  }
  .tabs:hover {
    color: black;
    font-weight: bold;
    background-color:whitesmoke;
  }

  .middle {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 10px;
    display: block; /* By default, display the list */
  }
  
  .middle p {
    text-align: left; /* Align content to the left */
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
    font-weight: bolder;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    /* background-color: #fff; */
    box-sizing: border-box;
    transition: background-color 0.3s;
  
    &:hover {
      color: black;
      background-color: #f0f0f0; 
    }
  }
  .important {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 10px;
    display: block; 
  
  }
  
  .important:empty {
    display: none; /* Hide the list when it's empty */
  }
  
  .important p {
    text-align: center;
    padding-right: 10px;
    font-weight: bolder;
    font-size: 12px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s;
  
    &:hover {
      color: black;
      background-color: #f0f0f0; 
    }
    .important p:empty {
      display: none;
    }
  }

  .last {
    list-style-type: none;
    padding: 0;
    text-align: right;
    margin: 10px;
    display: block; /* By default, display the list */
  }
  
  .last p {
    text-align: right; /* Align content to the left */
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
    font-weight: bolder;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    /* background-color: #fff; */
    box-sizing: border-box;
    transition: background-color 0.3s;
  
    &:hover {
      color: black;
      background-color: #f0f0f0; 
    }
  }

  
  
  .circle-1 {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    border-radius: 50%;
    transform-origin: 50% 50%;
    left: 5%;
    top: 50%;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite; }
  
  .circle-3 {
    top: 80%;
    right: 25%;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    border-radius: 50%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }
  
  @keyframes floating {
    0% {
      transform: translate(0%, 0%) rotate(25deg); }
    25% {
      transform: translate(5%, 15%) rotate(25deg); }
    50% {
      transform: translate(10%, 5%) rotate(25deg); }
    75% {
      transform: translate(0%, 15%) rotate(25deg); }
    100% {
      transform: translate(0%, 0%) rotate(25deg); } }
  
  @keyframes floating-slow {
    0% {
      transform: translate(0%, 0%) rotate(25deg); }
    25% {
      transform: translate(1%, 3%) rotate(25deg); }
    50% {
      transform: translate(2%, 1%) rotate(25deg); }
    75% {
      transform: translate(0%, 3%) rotate(25deg); }
    100% {
      transform: translate(0%, 0%) rotate(25deg); } }
  
  .triangle {
    position: absolute; }
  
  .triangle-1 {
    right: 0;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite; }
    .triangle-1 img {
      height: 50px;
      width: 50px;
      transform: rotate(30deg); }
  
  .triangle-2 {
    top: 30%;
    left: 20%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite; }
    .triangle-2 img {
      width: 75px;
      height: 75px;
      transform: rotate(15deg); }
  
  .triangle-3 {
    top: 80%;
    left: 15%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite; }
    .triangle-3 img {
      width: 45px;
      height: 45px;
      transform: rotate(40deg); }
  
  .triangle-4 {
    top: 60%;
    right: 15%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite; }
    .triangle-4 img {
      width: 45px;
      height: 45px;
      transform: rotate(-40deg); }
  