
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Form</title>
</head>
<body>
    <div class="wrapper login">
        <div class="container">
            <!-- <div class="col-left">
                 <div class="login-text">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>Welcome!</h2>
                    <p>Create your account.<br>For Free!</p>
                    <a routerLink="/signup" class="btn">Sign Up</a>
                </div> -->
            </div> 
            <div class="col-right">
                <div class="login-form">
                    <h2>Login</h2>
                    <form (ngSubmit)="login()" #loginForm="ngForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
                          </div>
                        <button type="submit" [disabled]="loginForm.invalid">Login</button><br><br>
                        <p>
                            <a href="">Forgot password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    
    <div class="circle-1"></div>
<div class="circle-1"></div>
<div class="circle-3"></div>
<div class="triangle triangle-1">
  <img src="\assets\obj_triangle.png" alt="">
</div>
<div class="triangle triangle-2">
  <img src="\assets\obj_triangle.png" alt="">
</div>
<div class="triangle triangle-3">
  <img src="\assets\obj_triangle.png" alt="">
</div>
<div class="triangle triangle-4">
  <img src="\assets\obj_triangle.png" alt="">
</div>
</body>
</html>