<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <div class="jumbotron jumbotron-single d-flex align-items-center" style="background-image: url(img/bg.jpg)">
        <div class="container text-center">
            <h1 class="display-2 mb-4">Contact Us</h1>
                <!-- <div class="col-md-8 offset-md-2 contact-form-holder mt-4" data-aos="fade-up">
                    <form method="post" name="contact-us" action="">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message ..."></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="container">
                    <div class="col-md-3" data-aos="fade-up">
                        <span class="lnr lnr-location fs-40 py-4 d-block"></span>
                        <h5>LOCATION</h5>
                        <p>Bangalore</p>
                        <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                        <h5>WORKING TIME</h5>
                        <p>Monday - Friday</p>
                        <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                        <h5>CALL US</h5>
                        <p>123-45678</p>
                        <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                        <h5>EMAIL</h5>
                        <p>company@gmail.com</p>
                    </div>
                <div class="col-lg-4 col-md-12 d-flex align-items-center">
                    <p class="mx-auto text-center mb-0">&copy; 2023 TASH. Design by Shrishti</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
