<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <header>
    <h1>Contact Us</h1>
  </header>
<div class="fog">
  <section>
    <div class="wrapper">
        <div class="container">
            <div class="col-left">
                 <div class="login-text">
                   
                    <h1>Contact Us</h1>
                    <h2>Chat Specialist Hours</h2>
                    <p>9am - 9pm<br> 7 days a week </p>
                    <h2>Send us an email</h2>
                    <a href="https://www.gmail.com">
                    <p>task.management@gmail.com</p>
                  </a>
                    <h2>Phone Number</h2>
                    <p>12345 - 5555<br>9am - 9pm<br> 7 days a week </p>
                    <h2>Meet Us</h2>
                    <a href="https://www.google.com/maps/@12.929744,77.6225231,14z?authuser=0&entry=ttu">
                    <p>Koramangala - 560010<br>Bangalore</p>
                  </a>
                    <!-- <a routerLink="/signup" class="btn">Sign Up</a> -->
                </div>
            </div> 
            <div class="col-right">
                <div class="login-form">
                    <h2>Send a message</h2>
                    <form>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                
                        <label for="email" >Email:</label>
                        <input type="email" id="email" name="email" required>
                
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject" required>
                
                        <label for="message">Message:</label>
                        <input  type="textarea" id="message" name="message" rows="1" required>
                        <div class="button-container">
                        <button type="submit">Send</button>
                        
                        <button routerLink="/">Back</button>
                      </div>
                      </form>
                </div>
            </div>
        </div>
      </div>
  </section>
</div>

  <footer>
    <p>© 2023 TASH. Design by Shrishti</p>
  </footer>
</body>
</html>
