<div class="task-section">
  <h2>Today's Tasks</h2>
  <div *ngIf="todayTasks.length > 0; else noTodayTasks">
    <ul>
      <li *ngFor="let task of todayTasks">
        {{ task.name }} (Deadline: {{ task.deadline | date:'medium' }})
      </li>
    </ul>
  </div>
  <ng-template #noTodayTasks>
    <p>No tasks due today.</p>
  </ng-template>
</div>


<!-- <main> 
    <section class="events">
        <h2>today's Events</h2>
        <div class="event-tab">
            <div class="event-tab-header">
                <h3>Event </h3>
                <p>Date: {{taskDeadline}}</p>
                    </div>
                    <div class="event-tab">
                        <div class="event-tab-header">
                                <h3>Today's Task</h3>
                                <p>Status: {{taskStatus}}</p>
                        </div>
                    <div class="event-tab-content">
                        <p>Description: {{taskName}}</p>
                        <p>Description: {{taskDescription}}</p>
                        <a href="#" class="event-details-button">Details</a>
                    </div>
                    </div> -->
        <!-- </section> -->
 <!-- </main> -->








<!-- <mat-card>
    <mat-card-title>Today's Tasks</mat-card-title>
  
    <div *ngIf="todayTasks.length > 0; else noTasks">
      <mat-list>
        <mat-list-item *ngFor="let task of todayTasks">
          {{ task.name }} (Deadline: {{ task.deadline | date:'medium' }})
        </mat-list-item>
      </mat-list>
    </div>
  
    <ng-template #noTasks>
      <p>No tasks due today.</p>
    </ng-template>
  </mat-card> 
 
   -->