<!-- <p>signup works!</p> -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Form</title>
</head>
<body>
  <header>
    <h1>Sign Up</h1>
  </header>
  <div class="container">
    <form class="sign-up-form" #signupForm="ngForm">
      <h1>Sign Up</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="username" type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="email" type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="password" type="password" id="password" name="password" required />
      </div>
      <button (click)="registerUser()" type="submit">Sign Up</button>
    </form>
  </div>
      
  <!-- <div class="circle-1"></div>
<div class="circle-1"></div>
<div class="circle-3"></div>
<div class="triangle triangle-1">
  <img src="\assets\obj_triangle.png" alt="">
</div>
<div class="triangle triangle-2">
  <img src="\assets\obj_triangle.png" alt="">
</div>
<div class="triangle triangle-3">
  <img src="\assets\obj_triangle.png" alt="">
</div>
<div class="triangle triangle-4">
  <img src="\assets\obj_triangle.png" alt="">
</div> -->
<footer>
  <p>© 2023 TASH. Design by Shrishti</p>
</footer>
</body>
</html>
  
