<body> 
  <div class="form-box">
<h2>Create a Task</h2>
<form [formGroup]="taskForm">
  <div class="form-group">
    <label for="taskName">Task Name</label>
    <input type="text" id="taskName" formControlName="taskName" required>
  </div>

  <div class="form-group">
    <label for="taskDescription">Task Description</label>
    <textarea id="taskDescription" formControlName="taskDescription" required></textarea>
  </div>

  <div class="form-group">
    <label for="taskDeadline">Task Deadline</label>
    <input type="date" id="taskDeadline" formControlName="taskDeadline" required>
  </div>

  <div class="form-group">
    <label for="taskStatus">Task Status</label>
    <select id="taskStatus" formControlName="taskStatus" required>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <div class="form-group">
    <label for="taskImportant">Important</label>
    <input type="checkbox" id="taskImportant" formControlName="taskImportant">
  </div>

  <button type="submit" (click)="createTask()">Create Task</button><br><br>
  <button type="button" (click)="navigateToMainPage()">Back to Main Page</button>

</form>
<!-- <h2>Tasks Created:</h2>
  <ul>
    <li *ngFor="let task of tasks">
      <h3>{{ task.name }}</h3>
      <p>{{ task.description }}</p>
      <p>Deadline: {{ task.deadline | date: 'medium' }}</p>
      <p>Status: {{ task.status }}</p>
    </li>
  </ul> -->
</div>
</body>



<!-- <body>
<div class="page-content">
  <div class="form-box">
  <h2>Create a New Task</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="taskName">Task Name</label>
      <input type="text" class="form-control" id="taskName" name="taskName" [(ngModel)]="taskName" required>
    </div>

    <div class="form-group">
      <label for="taskDescription">Task Description</label>
      <textarea class="form-control" id="taskDescription" name="taskDescription" [(ngModel)]="taskDescription"></textarea>
    </div>

    <div class="form-group">
      <label for="taskDeadline">Deadline</label>
      <input type="date" class="form-control" id="taskDeadline" name="taskDeadline" [(ngModel)]="taskDeadline" required>
    </div>

    <div class="form-group">
      <label for="taskStatus">Status</label>
      <select class="form-control" id="taskStatus" name="taskStatus" [(ngModel)]="taskStatus">
        <option value="not-started">Not Started</option>
        <option value="in-progress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
    </div>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    
    <mat-date-range-picker #picker></mat-date-range-picker>

    <button type="submit" class="btn btn-primary">Create Task</button>
  </form>
</div>
</div>
</body> -->